@import url('https://fonts.googleapis.com/css2?family=Coda&family=Darker+Grotesque&family=Roboto&display=swap');


html, #root, body {
  font-family: 'Montserrat', sans-serif !important;
  color: white !important;
  --roboto : 'Roboto', sans-serif;
  --darker : 'Darker Grotesque', sans-serif;
  --coda : 'Coda', cursive;
}
#root, body{
  background: linear-gradient(rgba(16,0,43,1) 0%, rgba(30,0,82,1) 53%, rgba(30,0,82,1) 100%) no-repeat center;
  background-size: cover;
}
::selection {
  color: white;
  background: #B754A5;
}

h1, h2, h3, h4, h5, h6, .ui.header, label, .ui.horizontal.divider {
  color: white !important;
}

a {
  color: #B754A5;
}

a:hover {
  color: #B754A5;
  text-decoration: underline;
}

.ui.segment, .ui.segment .header {
  color: black !important;
}

.ui.form .field .ui.input input, .ui.form .fields .field .ui.input input{
  border-radius: 30px;
}
.ui.button.discord-button {
  background-color: #9E47B1;
}
.ui.button.discord-button:hover {
  background-color: #9c32b4;
}
.ui.button.discord-button:focus {
  color: white;
  background-color: #9c32b4;
}
.ui.button:focus {
  color: white;
  background-color: #8f2d7d;
}
.ui.button.discord-button:active {
  color: white;
  background-color: #9c32b4 !important;
}
.ui.button:active {
  color: white;
  background-color: #8f2d7d !important;
}

.ui.button, .ui.buttons .button, .ui.buttons .or {
  border-radius: 5px;
  background-color: #B754A5;
  color: white;
}
.ui.button:hover, .ui.buttons:hover .button:hover, .ui.buttons:hover .or:hover {
  background-color: #8f2d7d;
  color: white;
}

.App {
  width: 100%;
  height: 100%;
  color: white;
  background: linear-gradient(rgba(16,0,43,1) 0%, rgba(30,0,82,1) 53%, rgba(30,0,82,1) 100%);
}
/* NAVBAR */
.navbar {
  position: sticky;
  height: 60px;

}
.navbar-site-links{
  display: inline-flex;
  height: 60px;

}
.navbar-social-links {
  float: right;
  display: inline-flex;
  height: 60px;
}

.navbar-link, .navbar-social {
  margin: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FOOTER */
footer{
  /* position: absolute; */
  bottom : 0;
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

footer ul {
  list-style-type: none;
}

/* ACCUEIL */
.accueil-body {
  width: 100%;
  height: 100%;
}
.accueil-body h3 span{
  font-family: var(--coda);
}
.accueil-body h3 {
  font-size: 64px;
  font-family: var(--darker);
  margin-bottom: 25px;
}
.accueil-body p{
font-size: 24px;
font-family: var(--roboto);
}

.accueil-banBack{
  height: 42vh;
  width: 100vw;
  margin: none;
  background-image: url("images/banniere.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 10px 0 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.accueil-banBack a{
  width: 25%;
  margin-top: 100px;
}
.accueil-banBack a .ui{
  font-size: 24px;
  font-family: var(--roboto);
  width: 100%;
}

.accueil-imgText{
  width: 100%;
  height: 100%;
  display: flex;
  margin: 200px 0px;
}

.accueil-imgText div{
  display: flex;
  flex-direction: column;
  margin: 0 50px;
  justify-content: center;
}

img.ui.image {
  margin: 40px;
}

.accueil-imgText div p{
  font-size: 24px;
}

.accueil-imgText div h2{
  font-size: 54px;
  font-family: var(--roboto);
}

.accueil-imgText div a {
  margin: auto;
}

.accueil-imgText div a .button {
  font-size: 24px;
  width: 326px;
  font-family: var(--roboto);
}

.accueil-commentaire{
  background-color: white;
  border-radius: 20px;
  width: 60%;
  min-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px 60px;
}

.accueil-commentaire h2{
  color: black !important;
  font-size: 36px;
  font-family: var(--darker);
}

.accueil-commentaire div {
  display: flex;
}

.accueil-commentaire div .img{
  border-radius: 50%;
}

.accueil-commentaire div div{
  display: flex;
  flex-direction: column;
  margin: auto 20px;
}

.accueil-commentaire div div .title{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
}

.accueil-commentaire div div .title h3{
  color: black !important;
  font-size: 24px;
  font-family: var(--roboto);
  margin-bottom: 0;
}

.accueil-commentaire div div .title p{
  color: #9E47B1;
  margin-left: 20px;
}

.accueil-commentaire div div .message p {
  color: black;
  font-size: 14px;
  font-family: var(--roboto);
}

/* INSCRIPTION CONNEXION */

.form-aiko::before {
  content: " ";
  position: absolute;
  background-size: 100%;
  background-image: url("images/banniere.png");
  background-repeat: no-repeat;
  opacity: 0.4;
  width: 100%;
  height:80%;
  top: 40%;
  left:0;
}

/* JOUEURS */
.player_card {
  color: black;
}
.player_card:hover {
  text-decoration: none;
}
.pp_user {
  margin: auto !important;
  margin-bottom: 10px !important;
  display: block;
  float: none !important;
}