@import url('https://fonts.googleapis.com/css2?family=Coda&family=Darker+Grotesque&family=Roboto&display=swap');

iframe[style="position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; border: none; z-index: 2147483647;"] {
  pointer-events: none;
}

html,
#root,
body {
  font-family: 'Montserrat', sans-serif !important;
  color: white !important;

  /* VARIABLE FONT  */
  --roboto: 'Roboto', sans-serif;
  --darker: 'Darker Grotesque', sans-serif;
  --coda: 'Coda', cursive;

  /* VARIABLE COULEUR  */
  --purple: #B754A5;
}

#root,
body {
  background: linear-gradient(rgba(16, 0, 43, 1) 0%, rgba(30, 0, 82, 1) 53%, rgba(30, 0, 82, 1) 100%) no-repeat center;
  background-size: cover;
}

::selection {
  color: white;
  background: var(--purple);
}

h1,
h2,
h3,
h4,
h5,
h6,
.ui.header,
label,
.ui.horizontal.divider {
  color: white !important;
}

a {
  color: var(--purple);
}


a:hover {
  color: var(--purple);
  text-decoration: underline;
}

.ui.segment,
.ui.segment .header {
  color: black !important;
}

.ui.horizontal.divider {
  color: #9E47B1 !important;
  margin: 5px 0;
}

.ui.horizontal.divider:before {
  background: linear-gradient(to left, #9E47B1, transparent) no-repeat;
  background-size: 90% 1.5px;
  background-position: center;
}

.ui.horizontal.divider:after {
  background: linear-gradient(to right, #9E47B1, transparent) no-repeat;
  background-size: 90% 1.5px;
  background-position: center;
}


.ui.form .field .ui.input input,
.ui.form .fields .field .ui.input input {
  border-radius: 30px;
}

.ui.button.discord-button {
  background-color: #9E47B1;
}

.ui.button.discord-button:hover {
  background-color: #9c32b4;
}

.ui.button.discord-button:focus {
  color: white;
  background-color: #9c32b4;
}

.ui.button:focus {
  color: white;
  background-color: #8f2d7d;
}

.ui.button.discord-button:active {
  color: white;
  background-color: #9c32b4 !important;
}

.ui.button:active {
  color: white;
  background-color: #8f2d7d !important;
}

.ui.button,
.ui.buttons .button,
.ui.buttons .or {
  border-radius: 5px;
  background-color: var(--purple);
  color: white;
}

.ui.button:hover,
.ui.buttons:hover .button:hover,
.ui.buttons:hover .or:hover {
  background-color: #8f2d7d;
  color: white;
}

.App {
  width: 100%;
  height: 100%;
  color: white;
  background: linear-gradient(rgba(16, 0, 43, 1) 0%, rgba(30, 0, 82, 1) 53%, rgba(30, 0, 82, 1) 100%);
}

/* NAVBAR */
/* Responsive Navbar 1 + 2 */
.navbar-responsive-1 .black-bg,
.navbar-responsive-2 .black-bg {
  /* display: none; */
  background-color: black;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  bottom: 0;
}

.navbar-responsive-1 img,
.navbar-responsive-2 img {
  margin-top: 17px;
}

.navbar-responsive-1 .logo,
.navbar-responsive-2 .logo {
  width: fit-content;
}

.navbar-responsive-1,
.navbar-responsive-2 {
  display: none;
  z-index: 100;
  padding: 0 60px;
  position: sticky;
  height: 65px;
  width: 100%;
  justify-content: space-between;
  border-width: 0.5px;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-image: linear-gradient(to right,
      #2D007A,
      transparent) 10;
}

.navbar-responsive-1 .nav-container li,
.navbar-responsive-2 .nav-container li {
  list-style: none;
}

.navbar-responsive-1 .menu-items,
.navbar-responsive-2 .menu-items {
  z-index: 100000;
  background-color: #1E0052;
  padding: 100px;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -60px;
  margin-top: -60px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: left;
}

.navbar-responsive-1 .menu-items li,
.navbar-responsive-2 .menu-items li {
  margin-bottom: 30px;
  color: white;
}

.navbar-responsive-1 .menu-items li a,
.navbar-responsive-2 .menu-items li a {
  color: white;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: white;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.nav-container input[type="checkbox"]:checked~.menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.purple-link a {
  color: var(--purple) !important;
}

/* Origin Navbar */
.navbar {
  padding: 0 60px;
  position: sticky;
  height: 65px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-width: 0.5px;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-image: linear-gradient(to right,
      #2D007A,
      transparent) 10;
}

.navbar-site-links,
.navbar-login-links,
.navbar-social-links {
  display: inline-flex;
  font: 16px var(--roboto);
  height: 65px;
}

.navbar-right-links {
  float: right;
}

.navbar-social-links {
  margin-right: 50px;
}

.navbar-site-links a {
  color: white;
}

.navbar-logo {
  margin-right: 20px;
}

.navbar-logo a img {
  width: 50px;
  height: auto;
}



.navbar-link,
.navbar-social {
  margin: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-social a {
  color: white;
  font-size: 25px;
}

/* FOOTER */
footer .separator {
  display: block;
  width: 100%;
  height: 1px;
  margin-bottom: 50px;
  background: linear-gradient(to right, #9E47B1, transparent);
}

footer {
  margin-top: 50px;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}

footer ul {
  list-style-type: none;
}

/* ACCUEIL */

.accueil-body {
  width: 100%;
  height: 100%;
}

.accueil-video {
  width: 100%;
  height: calc(100vh - 65px);
}

.accueil-video-hover {
  width: 100vw !important;
  height: calc(100vh - 65px);
  position: absolute;
  z-index: 10;
  top: 65px;
  background-color: rgba(0, 0, 0, 0.3);
}

@media(max-width: 768px) {
  .accueil-video-hover.ui.container {
    margin: 0 !important;
  }
}

.logo-accueil {
  margin: 100px auto 0px auto;
  width: 650px;
  height: auto;
}

.accueil-body h3 span {
  font-family: var(--coda);
}

.accueil-body h3 {
  font-size: 49px;
  font-family: var(--darker);
  margin-bottom: 30px;
  font-weight: lighter;
}

.accueil-body p {
  font-size: 20px;
  font-family: var(--roboto);
}

.accueil-banBack {
  width: 100vw;
  margin: none;
  margin: 10px 0 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.accueil-banBack a {
  width: 25%;
  margin-top: 50px;
}

@media(max-width: 768px) {
  .accueil-banBack a {
    width: 75%;
    margin-top: 25px;
  }
}

.accueil-banBack a .ui {
  font-size: 20px;
  font-family: var(--roboto);
  width: 100%;
}

.accueil-leviathanSide {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("images/corps-long.png");
  background-repeat: no-repeat;
  background-size: 125%;
  left: 0;
  top: -50px;
}

@media(max-width: 1608px) {
  .accueil-leviathanSide {
    background-size: 150%;
  }
}

@media(max-width: 1000px) {
  .accueil-leviathanSide {
    background-size: 200%;
  }
}

@media(max-width: 1000px) {
  .accueil-leviathanSide {
    background-size: 200%;
  }
}

@media(max-width: 768px) {
  .accueil-leviathanSide {
    background-size: 400%;
    top: -100px;
  }
}

.accueil-leviathanSide2{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("images/aiko-leviathanp2.png");
  background-repeat: no-repeat;
  background-size: 30%;
  left: 61%;
  z-index: 10;
}

.accueil-leviathanSide3{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("images/aiko-leviathanp3.png");
  background-repeat: no-repeat;
  background-size: 22%;
  left: -75px;
  z-index: 0;
}

.accueil-leviathanSide4{
  position: absolute;
  width: 100%;
  height: 200px;
  background-image: url("images/aiko-leviathanp4.png");
  background-repeat: no-repeat;
  background-size: 20%;
  left: 0%;
  z-index: 10;
}

.accueil-imgText {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 200px 0px;
}

@media(max-width: 768px) {
  .accueil-imgText {
    flex-direction: column;
  }
}

.accueil-imgText div {
  display: flex;
  flex-direction: column;
  margin: 0 10% 0 50px;
  justify-content: center;
}

.accueil-imgText.imgTextSwap div {
  margin: 0 50px 0 10%;
}

.accueil-imgText img.ui.image {
  margin: 40px 40px 40px 0px;
  max-width: 566px;
  height: auto;
  z-index: 20;
}

#mobile.imgTextSwap {
  display: none;
}

@media(max-width: 768px) {
  .accueil-imgText img.ui.image {
    max-width: 100%;
    height: 100%;
  }

  #desktop.imgTextSwap {
    display: none;
  }

  #mobile.imgTextSwap {
    display: initial;
  }

  #mobile.imgTextSwap img.ui.image {
    margin: 40px 40px 40px 0px;
  }
}

.accueil-imgText.imgTextSwap img.ui.image {
  margin: 40px 0 40px 40px;
}

.accueil-imgText div p {
  font-size: 20px;
  z-index: 20;
}

.accueil-imgText div h2 {
  font-size: 40px;
  font-family: var(--roboto);
}

.accueil-imgText div a {
  margin: auto;
}

.accueil-imgText div a .button {
  font-size: 20px;
  width: 320px;
  font-family: var(--roboto);
}

.accueil-commentaire {
  background-color: white;
  border-radius: 20px;
  width: 60%;
  min-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px 60px;
}

.accueil-commentaire h2 {
  color: black !important;
  font-size: 36px;
  font-family: var(--darker);
}

.accueil-commentaire div {
  display: flex;
}

.accueil-commentaire div .img {
  border-radius: 50%;
}

.accueil-commentaire div div {
  display: flex;
  flex-direction: column;
  margin: auto 20px;
}

.accueil-commentaire div div .title {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
}

.accueil-commentaire div div .title h3 {
  color: black !important;
  font-size: 24px;
  font-family: var(--roboto);
  margin-bottom: 0;
}

.accueil-commentaire div div .title p {
  color: #9E47B1;
  margin-left: 20px;
}

.accueil-commentaire div div .message p {
  color: black;
  font-size: 14px;
  font-family: var(--roboto);
}

#mobile.accueil-commentaire {
  display: none;
}

@media(max-width: 768px) {
  #desktop.accueil-commentaire {
    display: none;
  }

  #mobile.accueil-commentaire {
    display: block;
    background-color: white;
    border-radius: 20px;
    width: 9 0%;
    height: auto;
  }

  #mobile.accueil-commentaire div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #mobile.accueil-commentaire div div {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }

  #mobile.accueil-commentaire div .message {
    width: 80%;
    color: black;
  }
}

.accueil-carrou {
  width: 100%;
  height: auto;
  margin: 50px 0;
  display: flex;
  justify-content: center;
}

.accueil-carrou a {
  width: 60%;
  height: 100%;
}

.accueil-carrou .carrou {
  z-index: 15;
  width: 100%;
  height: auto;
  min-height: 300px;
  background-image: url("images/event.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: end;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;
}

.accueil-carrou .carrou .title {
  font-size: 26px;
  font-family: var(--roboto);
  margin-bottom: 0;
  color: white;
}

.accueil-carrou .carrou .subtitle {
  font-size: 20px;
  font-family: var(--roboto);
}

/* HOMEPAGE Carousel */
.accueil-car {
  width: 70%;
  margin: auto;
}

.accueil-car h1 {
  font: 64px var(--roboto);
  margin: 50px auto 10px auto;
  display: flex;
  justify-content: center;
}

.carousel {
  position: relative;
  margin: auto;
}

.carousel_container {
  transition: transform 0.3s;
  transform: translate3d(0, 0, 0);
  width: 200%;
}

.carousel_container::after {
  content: '';
  clear: both;
  display: table;
}

.carousel_item {
  width: 50%;
  float: left;
  display: none;
}

.active.carousel_item {
  display: initial;
}

.carousel_item> :not(:first-child) select {
  float: rigth;
}

.carousel_item .item {
  width: 100%;
}

.carousel-image-event {
  margin: auto;
  width: 70%;
  height: 310px;
  background: url(images/event.png) no-repeat center/100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.carousel-image-text {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: auto;
  padding: 10px 0px 10px 30px;
}

.carousel-image-titre {
  font: 36px var(--roboto);
  color: white;
  margin-bottom: 5px;
}

p.carousel-image-date {
  font: 24px var(--roboto);
  color: white;
  padding: 0;
  margin-bottom: 5px;
}

.carousel-image-participation {
  font: 24px var(--roboto);
  color: var(--purple);
}

.carousel_next,
.carousel_prev {
  position: absolute;
  width: 40px;
  height: 40px;
  background: url(images/right-arrow.svg) center center no-repeat;
  top: 50%;
  margin-top: -20px;
  right: -20px;
  cursor: pointer;
  transition: ease 0.3s;
  z-index: 100;
}

.carousel_next:hover,
.carousel_prev:hover {
  transform: scale(1.2)
}

.carousel_prev {
  background: url(images/left-arrow.svg) center center no-repeat;
  right: auto;
  left: -20px;
}

.carousel-image-event {
  transition: ease 0.3s;
}

.carousel-image-event:hover {
  transform: scale(1.05);
}

.accueil-car .button {
  display: flex;
  margin: 75px auto 0;
}

/* INSCRIPTION CONNEXION */

.form-aiko.inscription::before {
  content: " ";
  position: absolute;
  background-size: 100%;
  background-image: url("images/frise-large.png");
  background-repeat: no-repeat;
  opacity: 0.4;
  width: 170%;
  height: 70%;
  top: 50%;
  left: 0;
}

.connexion .frise {
  width: 150%;
  left: 0;
  opacity: 0.4;

}

/* JOUEURS */
.player_card {
  color: black;
}

.player_card:hover {
  text-decoration: none;
}

.pp_user {
  margin: auto !important;
  margin-bottom: 10px !important;
  display: block;
  float: none !important;
}

.signin-coach {
  background: url("images/braum50.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* FAQ */
.faq .border-faq {
  width: 700px;
  margin: auto;
  padding: 50px;
  border-radius: 20px;
  border: 1px solid #9E47B1;
}

.faq .frise {
  width: 150%;
  left: 0;
  opacity: 0.4;

}

.faq .frise img {
  background: linear-gradient(to right,
      transparent 0%,
      transparent 75%,
      rgba(0, 0, 0, 0) 100%);
}

.faq .active,
.dot:hover {
  background-color: transparent !important;
}

.faq .join-discord {
  z-index: 1000000;
}

/* COACHING */
.coaching.bloc3::after {
  content: " ";
  position: absolute;
  background-size: 100%;
  background-image: url("images/frise-mini.png");
  background-repeat: no-repeat;
  opacity: 0.4;
  width: 100%;
  height: 80%;
  top: 0;
  left: 0;
}

.coaching .frise {
  width: 150%;
  left: 0;
  opacity: 0.4;

}

.coaching-deja-coach {
  padding-left: 80px;
}

@media(max-width: 768px) {
  .coaching-deja-coach {
    padding-left: 0;
  }

  .coaching-deja-coach-img img {
    margin: auto !important;
    float: none !important;
  }
}

/* RESERVATION COACH */
.reservation-coach {
  width: 100%;
  height: 100vh;
  background-image: url("images/background-coach.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.reservation-coach h1.ui.header .sub.header {
  color: white;
}

.reservation-coach .header {
  padding-top: 30px;
}

.reservation-coach .grid-coach {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(183 84 165 / 60%);
}

.coach-card {
  background: #120131 !important;
  color: white !important;
  border: transparent;
  box-shadow: none !important;
  padding: 10px 10px !important;
  border-radius: 17px !important;
  /* box-shadow: 0 0.5px 3px 0 #4603B8; */
}

/* TOURNOIS */
.tournois .event-over {
  position: absolute;
  display: inline;
  width: 100%;
  height: 100%;
  font-size: 30px;
  color: #B754A5;
  margin: auto;
  position: absolute;
  z-index: 1;
  margin: auto;
}

.tournois .event-over-text {
  margin: auto;
  top: 25%;
  width: fit-content;
}

.tournois .event-img {
  display: block;
  opacity: .5;
}

.see-event .desc {
  margin: auto;
}

.see-event .join-discord {
  background-color: #9E47B1;
}

.see-event img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.see-event .div-title {
  display: flex;
}

.see-event .title {
  position: absolute;
  margin-top: 200px;
  padding-left: 100px;
}

@media screen and (max-width: 440px) {
  .see-event .title {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .event-component .event-img {
    display: flex;
  }

  .event-component .title {
    position: absolute;
    margin-top: -100px !important;
  }
}

/* EQUIPE MODAL SAVOIR PLUS */
.ui.tabular.menu .active.item, .ui.tabular.menu .item {
  background: transparent !important;
  color: white;
}

.ui.tabular.menu .active.item:hover, .ui.tabular.menu .item:hover {
  color: #B754A5;
}

.ui.basic.button, .ui.basic.buttons .button {
  color: white !important;
  border: 1px solid transparent;

}

.ui.basic.button:hover, .ui.basic.buttons .button:hover {
  background: transparent !important;
  color: #B754A5 !important;
  border: 1px solid #B754A5;
}

/* EQUIPE EDIT */
.top-equipe {
  margin-bottom: 100px;
}

.nom-icon {
  display: inline-flex;
  margin-top: -100px;
  margin-left: 20%;
  position: absolute;
}

.nom-icon .edit-nom input {
  width: 100%;
}
.nom-icon .edit-nom input {
  margin-top: 40px;
  margin-left: 30px;
}

.edit-equipe .ui.input>input {
  border-radius: 30px;
}

.banniere-equipe {
  width: 100%;
  object-fit: cover;
  height: 300px;
}

.equipe-fade-icon {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 10;
}

.equipe-fade-image {
  display: block;
  opacity: 0.5;
}

.equipe-fade-image-not-selected:hover {
  cursor: pointer;
}

.equipe-fade:hover {
  cursor: pointer;
}


.member-card-clickable:hover {
  cursor: pointer;
}

/* EQUIPES */
.equipe-card {
  margin: auto !important;
}

.ui.rating .active.icon:before {
  color: #9E47B1 !important;
}

.equipe-card .img-icon {
  width: 80px !important;
}

.equipe-card.ui.card {
  background: transparent !important;
  color: white !important;
  box-shadow: 0 0.5px 3px 0 #4603B8;
  border-radius: 17px;
}

.equipe-card.ui.feed>.event>.content .summary {
  color: white !important;
}

.equipe-card .ui.feed>.event>.content .summary {
  color: white !important;
}

.equipe-card .ui.rating .icon {
  color: rgb(255 255 255 / 15%) !important;
}

.equipe-card .content {
  padding: 10px 30px !important;
}

.equipe-card .criterias {
  display: flex;
}

.equipe-card .criterias div {
  margin-left: 10px;
}

.equipe-card .meta {
  text-align: center;
  padding: 30px 20px;
}

.ui.card .meta>a:not(.ui) {
  color: white !important;
}

/* EQUIPES FILTRE */

.filtre-equipe .buttons {
  display: inline-block;
}

.filtre-equipe .reinitialiser-button, .filtre-equipe .appliquer-button .ui.button {
  border-radius: 30px !important;
  margin-top: 10px;
}

.filtre-equipe .reinitialiser-button {
  background-color: transparent;
  border: 1px solid #9E47B1;
  color: #9E47B1;
}

.filtre-equipe .appliquer-button .ui.button {
  color: rgba(16, 0, 43, 1) !important;
}

.filtre-equipe .reinitialiser-button:hover {
  background-color: transparent !important;
  border: 1px solid #8f2d7d !important;
  color: #8f2d7d !important;
}

.filtre-equipe .creer-button {
  width: 100%;
  margin-top: 30px;
}

.filtre-equipe .gerer-button {
  width: 100%;
  margin-top: 30px;
  background-color: transparent;
  border: 1px solid var(--purple);
  color: var(--purple);
}

.filtre-equipe .gerer-button:hover {
  background-color: transparent !important;
  border: 1px solid #8f2d7d !important;
  color: #8f2d7d !important;
}

/* MODAL */
.ui.modal, .ui.modal>.content {
  background: #1E0052 !important;
  padding: 3rem
}

.ui.modal>.icon:first-child+*, .ui.modal>:first-child:not(.icon) {
  border-radius: 25px !important;
}


.modal-savoir-plus .modal-header {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.modal-savoir-plusconnexion .modal-header .reseaux {
  float: right;
  right : 0;
}

.modal-savoir-plus .button-candidature {
  text-align: center;
  margin-top: 30px;
}

/* REDIRECTION CONNEXION */
.redirection-connexion {
  position: absolute;
  width: 100%;
  /* height: 100%; */
  height: calc(100% - 65px);
  z-index: 10;
  overflow: hidden;
  top: 65px;
  bottom: 0;
  background: rgb(24 23 23 / 80%) !important;
}

.redirection-connexion .content {
  margin-top: 10% !important;
}

.redirection-connexion img {
  margin: auto;
}

/* ----------------- RESPONSIVE ----------------- */
/* MODAL ICON */
@media only screen and (max-width: 991px)  {
  .ui.modal>.close {
    color: #ffffffbf;
  }
}

/* NAVBAR */
/* MOYEN */
@media screen and (max-width: 1280px) {
  .navbar,
  .navbar-responsive-1 {
    display: none;
  }

  .navbar-responsive-2 {
    display: flex;
  }
}

/* PETIT */
@media screen and (max-width: 720px) {

  .navbar,
  .navbar-responsive-2 {
    display: none;
  }

  .navbar-responsive-1 {
    display: flex;
  }
}

@media screen and (max-width: 414px) {
  .navbar-responsive-1 .menu-items {
    width: 300px;
  }

  .navbar-responsive-1 .navbar-social {
    margin: 0 10px;
  }
}